environment             = "preprod"
region                  = "ap-south-1"
secondary_region        = "ap-south-2"
website_name            = "C3Ops Website"
application_name        = "Cloud Binary"
core_infra_name         = "c3ops_preprod"
github_owner            = "ramyavalli-v"
github_repo             = "3tier-architecture-core-infra"
github_branch           = "main"